@charset "utf-8";

*{margin:0; padding:0;}
@font-face {
	font-family: gentium;
	src: url('/fonts/gentium_basic/GenBasB.eot');
	src: url('/fonts/gentium_basic/GenBasB.ttf') format('truetype');
}

html{background: url('images/bg.gif') #969488;}
body{color:#2a2921;font-family:Minion Pro, gentium, serif;}

body > header {display: block; padding: 10px;}
body > header h1 {overflow:hidden; text-align:center;color:#2a2921;text-shadow:#a1a3a6 1px 1px; font-size:72px; margin: 10px 75px 15px 75px; height:80px;}
body > header p {font-size:16px; overflow:hidden; text-align:center;color:#2a2921;text-shadow:#a1a3a6 1px 1px;}

body > footer ul#nav {margin-top: 1.5em; text-align:center;}
body > footer	ul#nav li {display: inline; margin:10px;}
body > footer	ul#nav li a {border: none;}
	
body > footer ul#nav li a img {border:none;
  height: 30px;
	opacity: 0.25;
	filter: alpha(opacity=25);
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	}

body > footer ul#nav li a:hover img, ul#nav li a:focus img {
	opacity: 1;
	filter: alpha(opacity=100);}

section#container {
  font-size: 110%;
  text-align: justify;
  width:55em;
  margin: 1em auto 2em auto;
  line-height: 1.5em;
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
}

section#container h1{ margin: 0 0 1em 0; }

ul.posts span.date { color: #717171; font-size:90%; } 

section#post {
  background-color:#f3f3f3;
  border: 0.1em solid #ffffff;
  padding: 0.5em;
  font-size: 120%;
}
section#post h1 { font-size: 110%; }
section#post p.date { color: #d4d4d4; font-size:80% }
section#post p { margin: 1em 0; font-size:90%; }

#disqus_thread{
  background-color:#f3f3f3;
  margin-top: 2em;
  padding: 1em;
  border: 0.1em solid #ffffff;
}
