@charset "utf-8";

*{margin:0; padding:0;}
@font-face {
  font-family: gentium;
  src: url('/GenBasB.eot');
  src: url('/GenBasB.ttf') format('truetype');
}

html{background: url('images/bg.gif') #969488;}
body{
  color:#2a2921;
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
}
h1{font-family:"gentium", serif;}

a {text-decoration:none; color:#2A2921;}
a:hover{color:#787878;}

body > header {
  display: block; 
  padding: 0.5em;
}

body > header h1 {
  overflow:hidden; 
  text-align:center;
  color:#2a2921;
  text-shadow:#a1a3a6 1px 1px; 
  font-size:4.5em; 
  height:1.3em;
  margin-top:0.2em;
}

body > header p {
  font-size:1em; 
  overflow:hidden; 
  text-align:center;
  color:#2a2921;
  text-shadow:#a1a3a6 1px 1px;
}

#menu ul { margin-top: 1.5em; text-align: center;}
#menu li { display: inline; border-right:1px solid #2A2921; padding:0 1em; }
#menu li:last-child {border-right:0;}

ul#social {margin-top: 1.5em; text-align:center;}
ul#social li {display: inline; margin:10px;}
ul#social li a {border: none;}

ul#social li a img {border:none;
  height: 30px;
  opacity: 0.25;
  filter: alpha(opacity=25);
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

ul#social li a:hover img, ul#nav li a:focus img {
  opacity: 1;
filter: alpha(opacity=100);}

section#container {
  font-size: 110%;
  text-align: justify;
  width:55em;
  margin: 1em auto 2em auto;
line-height: 1.5em;}


section#container h1{ margin: 0 0 1em 0; }

ul.posts span.date { color: #d4d4d4; font-size:90%;}
ul.posts a {font-family:"gentium", serif;} 

section#post {
  background-color:#f3f3f3;
  border: 0.1em solid #ffffff;
  padding: 0.5em;
  font-size: 120%;
}
section#post h1 { font-size: 130%; }
section#post p.date { color: #414141; font-size:80% }
section#post p { margin: 10px 5px; }
section#post { margin: 1em 0; font-size:90%; }
section#post ul, section#post ol { margin: 20px 20px; }
section#post li { padding-left: 10px; }
section#post img { max-width: 100%; }
section#post a { font-style: italic; }

#disqus_thread{
  background-color:#f3f3f3;
  margin-top: 2em;
  padding: 1em;
  border: 0.1em solid #ffffff;
}

img.center { margin-left: auto; margin-right: auto; display: block; }
img.simple-border { border: 1px solid #2A2921; }

.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}


.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
