<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <title>victor arias</title>
  <meta name="author" CONTENT="Victor Arias"> 
  <meta name="description" CONTENT="Victor Arias">
  <meta name="keywords" content="........" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/victor_styles.css" />
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33751963-1']);
    _gaq.push(['_setDomainName', 'victorarias.com.br']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

</script>

 </head>

 <body>

   <header>
     <h1>victor.arias</h1>
     <p>I'am (Victor) Arias, and Arias means me!</p>
     <nav id="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">About</a></li>
      </ul>
     <nav>
   </header>

   <section id="container">
  {{ content }}
   </section>
  
   <footer>
     <ul id="social">
       <li><a href="https://twitter.com/ariassp"><img src="/images/twitter.jpg" alt="Twitter"></a></li>  
       <li><a href="mailto:arias.sp@gmail.com"><img src="/images/email.jpg" alt="E-mail"></a></li>  
       <li><a href="https://github.com/victorarias"><img src="/images/github.jpg" alt="Github"></a></li>        
     </ul>
   </footer>
 </body>
</html>
