<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  {% if page.title %}
  <title>{{ page.title }} - {{ site.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}
  <meta name="author" CONTENT="Victor Arias"> 
  <meta name="description" CONTENT="Victor Arias">
  <meta name="keywords" content="victor arias,Victor Arias,victor.arias{{ page.keywords }}">
  <meta name="viewport" content="width=device-width" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/victor_styles.css" />
  <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <link rel="alternate" type="application/rss+xml" 
  	title="RSS Feed for Victor Arias's Blog" 
  	href="http://feeds.feedburner.com/ariassp.rss" />
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33751963-1']);
    _gaq.push(['_setDomainName', 'victorarias.com.br']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</head>

<body>

  <header>
    <a name="top" id="top"></a>
    <h1>Victor.Arias</h1>
    <nav id="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="#footer">Contact</a></li>
      </ul>
    </nav>
  </header>

  <section id="container">
    {{ content }}
  </section>

  <footer>
    <a name="footer" id="footer"></a>
    <h1>Get in touch</h1>
    <ul id="social">
      <li><a href="mailto:arias.sp@gmail.com"><img src="/images/gmail.png" alt="Send me an e-mail" title="Send me an e-mail"></a></li>
      <li><a href="https://twitter.com/ariassp"><img src="/images/twitter.png" alt="See what Iḿ talking about on twitter" title="See what Iḿ talking about on twitter"></a></li>  
      <li><a href="https://github.com/victorarias"><img src="/images/github.png" alt="Github"></a></li>   
      <li><a href="http://br.linkedin.com/pub/victor-arias/15/b25/31"><img src="/images/linkedin.png" alt="View my LinkedIn profile" title="View my LinkedIn profile"></a></li>
    </ul>
  </footer>
</body>
  </html>
